@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
  max-width: 1440px;
 }

html,
body {
  height: 100vh;
  font-family: "Source Sans Pro";
 
 }

body {
  font-size: 1.6rem;
}
 

@media screen and (prefers-color-scheme: dark) {
  body {
    background: rgba(#312E38, 1);
  }
}

@media screen and (prefers-color-scheme: light) {
  body {
    background:#F4EDE8;
  }
}
